version: 2.1

jobs:
  packer-gcp-build:
    docker:
      - image: cimg/base:stable

    environment:
      VAULT_ADDR: http://127.0.0.1:8200
      VAULT_TOKEN: root

    steps:
      # -----------------------------
      # Checkout Code
      # -----------------------------
      - checkout

      # -----------------------------
      # Install System Dependencies
      # -----------------------------
      - run:
          name: Install system packages
          command: |
            sudo apt-get update
            sudo apt-get install -y \
            curl unzip gnupg lsb-release jq python3-pip

      # -----------------------------
      # Install Ansible
      # -----------------------------
      - run:
          name: Install Ansible deps
          command: |
            pip3 install ansible passlib

      # -----------------------------
      # Install Packer & Vault
      # -----------------------------
      - run:
          name: Install Packer & Vault
          command: |
            sudo apt-get update
            sudo apt-get install -y curl unzip jq gnupg lsb-release

            # -----------------------------
            # Install Packer
            # -----------------------------
            PACKER_VERSION="1.10.0"
            curl -fsSL https://releases.hashicorp.com/packer/${PACKER_VERSION}/packer_${PACKER_VERSION}_linux_amd64.zip -o packer.zip
            unzip packer.zip
            sudo mv packer /usr/local/bin/
            packer --version

            # -----------------------------
            # Install Vault
            # -----------------------------
            VAULT_VERSION="1.15.4"
            curl -fsSL https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_amd64.zip -o vault.zip
            unzip vault.zip
            sudo mv vault /usr/local/bin/
            vault --version


      # -----------------------------
      # Start Vault Dev Server
      # -----------------------------
      - run:
          name: Start Vault
          command: |
            vault server -dev -dev-root-token-id=root > vault.log 2>&1 &
            sleep 5

      # -----------------------------
      # Validate Vault
      # -----------------------------
      - run:
          name: Validate Vault status
          command: vault status

      - run:
          name: Validate Vault KV engine
          command: |
            vault secrets list | grep -q '^secret/' \
              && echo "Vault KV engine enabled" \
              || (echo "KV engine missing" && exit 1)

      # -----------------------------
      # Configure Vault Secrets
      # -----------------------------
      - run:
          name: Configure Vault Secrets
          command: |
            vault kv put secret/packer/ansible \
              admin_password="$ADMIN_PASSWORD" \
              user1_password="$USER1_PASSWORD"

      # -----------------------------
      # Validate Vault Secrets
      # -----------------------------
      - run:
          name: Validate secrets
          command: |
            vault kv get secret/packer/ansible
            vault kv get -field=admin_password secret/packer/ansible
            vault kv get -field=user1_password secret/packer/ansible

      # -----------------------------
      # Create Packer vars file
      # -----------------------------
      - run:
          name: Create Packer vars from Vault
          command: |
            ADMIN_PASSWORD=$(vault kv get -field=admin_password secret/packer/ansible)
            USER1_PASSWORD=$(vault kv get -field=user1_password secret/packer/ansible)

            echo "admin_password = \"${ADMIN_PASSWORD}\"" | tee packer_template_gcp/secrets.auto.pkrvars.hcl
            echo "user1_password = \"${USER1_PASSWORD}\"" | tee -a packer_template_gcp/secrets.auto.pkrvars.hcl

            chmod 600 packer_template_gcp/secrets.auto.pkrvars.hcl

      # -----------------------------
      # Create GCP credentials file
      # -----------------------------
      - run:
          name: Create GCP credentials
          command: |
            echo "$GCP_SA_KEY" > gcp-key.json
            chmod 600 gcp-key.json

      # -----------------------------
      # Packer Init & Validate
      # -----------------------------
      - run:
          name: Packer Init
          command: packer init packer_template_gcp

      - run:
          name: Packer Validate
          environment:
            GOOGLE_APPLICATION_CREDENTIALS: /home/circleci/project/gcp-key.json
          command: packer validate packer_template_gcp

      # -----------------------------
      # Packer Build for img
      # -----------------------------
      - run:
          name: Packer Build & Capture Image Name
          environment:
            GOOGLE_APPLICATION_CREDENTIALS: /home/circleci/project/gcp-key.json
          command: |
            packer build packer_template_gcp | tee packer.log

            IMAGE_NAME=$(grep -oP "packer-[^ ]+" packer.log | tail -1)

            if [ -z "$IMAGE_NAME" ]; then
              echo "Failed to extract image name"
              exit 1
            fi

            echo "Built Image: $IMAGE_NAME"
            echo "export IMAGE_NAME=$IMAGE_NAME" >> $BASH_ENV

      - run:
          name: Show Image Name
          command: |
            source $BASH_ENV
            echo "Final Image Name: $IMAGE_NAME"

workflows:
  version: 2
  packer-workflow:
    jobs:
      - packer-gcp-build:
          filters:
            branches:
              only:
                - main
